name: Frontend Tests
on:
  push:
    branches: [main]
jobs:
  test:
    name : frontend
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

        # TODO : Setup Node.js 18 avec cache npm
      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      - name: intall 
        run: | 
            cd frontend
            npm ci
    
        # TODO : Installez les dépendances (cd frontend && npm ci)
      - name: dependances
        run: |
          cd frontend
          npm ci

        # TODO : Lancez les tests
      - name: Test
        run: |
          cd frontend
          npm test -- --run

        # TODO : Vérifiez le build
      - name: Build verif
        run: |
          cd frontend
          npm run build
